root = true

[*]
max_line_length = 100|off
end_of_line = lf|crlf|cr
indent_style = space|tab
charset = utf-8|latin1|utf-16be|utf-16le
trim_trailing_whitespace = true|false
insert_final_newline = true|false

[*.html]
indent_size = 2

[*.{js,json}]
indent_size = 2

[*.{css,styl,scss,less,sass}]
indent_size = 2
