/*
Syntax error: Invalid variable: "$color = #5D5D5D;".
        on line 1 of index.sass

1: $color = #5D5D5D;
2: 
3: body{
4: 	size: 14px
5: 	}

Backtrace:
index.sass:1
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/engine.rb:749:in `parse_variable'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/engine.rb:649:in `parse_line'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/engine.rb:543:in `build_tree'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/engine.rb:562:in `block in append_children'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/engine.rb:561:in `each'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/engine.rb:561:in `append_children'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/engine.rb:412:in `_to_tree'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/engine.rb:274:in `render'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `each'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:221:in `watch'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/plugin.rb:108:in `method_missing'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/exec.rb:509:in `watch_or_update'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/exec.rb:346:in `process_result'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/exec.rb:43:in `parse'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/lib/sass/exec.rb:22:in `parse!'
/home/ashwini/.rvm/gems/ruby-2.1.0/gems/sass-3.3.4/bin/sass:13:in `<top (required)>'
/home/ashwini/.rvm/gems/ruby-2.1.0/bin/sass:23:in `load'
/home/ashwini/.rvm/gems/ruby-2.1.0/bin/sass:23:in `<main>'
/home/ashwini/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/home/ashwini/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid variable: \"$color = #5D5D5D;\".\A         on line 1 of index.sass\A \A 1: $color = #5D5D5D;\A 2: \A 3: body{\A 4: 	size: 14px\A 5: 	}"; }
