*{
	font-size:13px;
	font-family: 'Lato', Arial, sans-serif;
}
h1{
	margin: 10px
}
a{
	text-decoration: none;
}
h1, p{
	color: #5D5D5D;
}
/* Begin Left Bar*/
div#logo{
	padding:10px;
}

#logo h1{
	margin:0px;
}
#logo img{

}

#nav-menu{
	position: fixed;
	top:0px;
	left:0px;
	height: 40px;
	background-color: #FFF;
	width: 100%;
	text-align: center;
	line-height: 40px;
	list-style:none;
	padding:0px;
	margin: 0px;
	color: #5D5D5D;
}

#nav-menu li{
	display:inline;
	margin-left: 15px;
}

#nav-menu li.active{
	border-bottom:1px solid #C2C2C2;
}

#section0{
	background:url('/assets/images/background-section0.jpg') #F2CD72 no-repeat center center !important;
}

#section0 .intro{
	margin-top: 200px;
	color: #000;
}
.grid{
	margin:50px;
}
.block-work{
	min-height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	margin: 15px;
}
.block-work a,div{
	color: #fff;
	font-size: 14px;
}
.block-work a {
	font-weight: 600;
	cursor: pointer;
}
.block-work h6{
	margin-bottom:10px;
}
.block-work .hover{
	display: none;
 	background: rgba(0, 0, 0, 0.75);
 	height: 180px;
 	border-radius: 10px;
 	width: 94%;
 	padding:10px;
}
.block-work .full-content{
	display: none;
	position: absolute;
	z-index: 1;
	width: 600px;
	height: 150px;
	top: 100px;
	left: 300px;
	background-color: rgba(0,0,0,0.75);
	text-align:center;
	padding: 70px;
	border-radius: 15px;
}
.block-work .full-content button{
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: transparent;
	border: none;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	cursor: pointer;
}
.block-work .full-content p{
	color: #fff;
}
.controlArrow.prev{
	border-right-color: rgba(0,0,0,0.1) !important;
}
.controlArrow.next{
	border-left-color: rgba(0,0,0,0.1) !important;
}
.about p{
	width: 600px;
	font-size: 20px;
	font-weight: 500;
	position: relative;
	left: 385px;
	top: 30px;
}
.about .social{
	margin-top: 40px;
	margin-left: 14%;
}
.about .social a{
	float:left;
	padding: 10px;

}
#pag-slide .grid_4{
}
#pag-slide .grid_4 p:first-child{
	font-size: 1.4em;
	font-weight: 500;
}