*{
	font-size:13px;
	font-family: 'Lato', Arial, sans-serif;
	color: #5D5D5D;
}

a{
	text-decoration: none;
}

/* Begin Left Bar*/
div#logo{
	padding:10px;
}

#logo h1{
	margin:0px;
}
#logo img{

}

#nav-menu{
	position: fixed;
	top:0px;
	left:0px;
	height: 40px;
	background-color: #FFF;
	width: 100%;
	text-align: center;
	line-height: 40px;
	list-style:none;
	padding:0px;
	margin: 0px;
	color: #5D5D5D;
}

#nav-menu li{
	display:inline;
	margin-left: 15px;
}

#nav-menu li.active{
	border-bottom:1px solid #C2C2C2;
}

