---
layout: home
comment: Whatever content we pass from here will be injected inside the main tag
---
<div class="post">
	<div class="images">
		{% for image in page.images %}
		<img title="{{page.title}}" src="{{image}}">
		{% endfor %}
	</div>
	<h2 class="post-title">{{ page.title }}</h2>
	<div class="description">
		{{ content }}
	</div>
	<div class="share-buttons">
		<a title="Twitter" class="twitter"></a>
		<a title="Facebook" class="fb"></a>
		<a title="Google Plus" class="g+"></a>
	</div>
</div>